/* blue gradient background */
body {
  background-image: repeating-linear-gradient(to bottom, #87ceeb , #45b3e0);
  min-height: 100vh;
}
/* image background for homepage min height is 100% of viewport */
.img-bck{
  background: url("https://c8.alamy.com/comp/XD8DJ1/mixed-group-in-business-meeting-XD8DJ1.jpg") no-repeat center;
  min-height: 100vh;
  
}

/* style for login block on homepage */
.login-block {
  background: #87ceeb;
  position: relative;
}
/* sky blue button style */
.btn-blue {
  background: #44b3e0;
  color:white;
}

.btn-blue:hover{
  color:white;
  background:#1e8bb7;
}
/* style for project display area */
.project-display {
  padding:100px;
  background:white;
}
/* style for create project form on projects page */
.project-form{
  padding: 100px;
  background:white;
}
/* style for project listings on projects page */
.project-item{
  padding: 20px;
    background: grey;
    color: white;
    border-radius: 20px;
    text-align: left;
}
/* Style for Tasks on projects page */
.task-item{
  padding:20px;
  background: white;
  margin:15px;
}